<!-- <nav class="navbar fixed-top navbar-expand-lg brown">

    <a class="navbar-brand">
        Girls Palace
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


    </div>
</nav> -->


<!--Nav bar starts here-->
<nav>
    <label class="logo">Girls Palace</label>
    <input type="checkbox" id="check" />
    <label for="check" class="hamberger-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
    </ul>
</nav>
<!--Nav bar ends here-->


<div style="margin-top: 90px;">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->

<footer class="page-footer font-small blue pt-4 fixed-bottom">

    <div class="footer-copyright text-center py-3"> © 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> asisiphodaraza.com</a>
    </div>


</footer>