<!-- Search button -->


<!-- Boxes -->

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

<ul class="listing">
    <li class="product" *ngFor="let admins of admin">
        <a class="img-wrapper" href="#">
            <img src="{{admins.image}}" alt={{admins.description}} />
        </a>

        <div class="info">
            <div class="title">{{admins.hairnailname}}</div>
            <div class="price">R{{admins.price}}</div>
        </div>

        <div class="actions-wrapper">
            <a class="add-btn wishlist" (click)="deleteDetail(admins)">Delete</a>

            <a href="#" class="add-btn cart">Edit</a>
        </div>
    </li>
</ul>