<!-- Boxes -->
<div class="container page-wrapper" *ngFor="let admins of admin" mt-5px>
    <div class="page-inner">
        <div class="row">
            <div class="el-wrapper">
                <div class="box-up">
                    <img class="img" src="{{admins.image}}" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">{{admins.hairnailname}}</span>
                            <span class="p-company">{{admins.name}}'s Beauty Spa</span>
                        </div>
                        <div class="a-size">Available Length : <span class="size">S , M , L , XL</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" (click)="book()">
                        <span class="price">R{{admins.price}}</span>
                        <span class="add-to-cart">
                            <span class="txt">Book
                                Appointment</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>