<!-- Search button -->

<form class="form-inline md-form mr-auto justify-content-center mb-4">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit" (ngModelChange)="searchStyle($event)">Search</button>
</form>

<!-- Boxes -->

<div class="container">

    <div class="cards-list">

        <div class="card 1" *ngFor="let admins of admin" routerLink="/bookings/{{admins}}">
            <div class="card_image"> <img src="{{admins.image}}" /> </div>
            <div class="card_title title-white">
                <p>{{admins.hairnailname}}</p>
            </div>
        </div>

    </div>

</div>