<!-- <div class="col-lg-8">

    <table id="myTable" class="table text-justify table-striped">


        <thead class="tableh1">
            <th class="">Name of Nails or hair</th>
            <th class="">Price</th>
            <th class="">description</th>
            <th class=""></th>
           
            <th class="col-1"></th>
            <th class="col-1"></th> 
        </thead>

        <tbody id="tableBody">

            <tr *ngFor="let admins of admin">

                <td>{{admins.name}}</td>
                <td>{{admins.price}}</td>
                <td>{{admins.description}}</td>

            </tr>

        </tbody>

    </table>
</div> -->
<!-- Nav Bar -->

<div class="wrapper">
    <nav>
        <a href="#" class="logo">AAA</a>
        <ul>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Features</a>
            </li>
            <li>
                <a href="#">Pricing</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
        </ul>
    </nav>
</div>


<!-- Boxes -->


<script src="https://kit.fontawesome.com/a7e9f794eb.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap" rel="stylesheet">

<div class="container" *ngFor="let admins of admin">
    <div class="block">
        <div class="overlay"></div>
        <div class="block--text">
            <div class="text--head">{{admins.name}}</div>
            <div class="text--quote">{{admins.description}}</div>
            <div class="text--person">R{{admins.price}}</div>
        </div>
    </div>

    <!-- <div class="block">
        <div class="overlay"></div>
        <div class="block--text">
            <div class="text--head">Never Give Up</div>
            <div class="text--quote">“It’s hard to beat a person who never gives up.”</div>
            <div class="text--person">Babe Ruth</div>
        </div>
    </div>

    <div class="block">
        <div class="overlay"></div>
        <div class="block--text">
            <div class="text--head">Do it</div>
            <div class="text--quote">“Do one thing every day that scares you.”</div>
            <div class="text--person">Eleanor Roosevelt</div>
        </div>
    </div> -->
</div>

<!-- Footer -->

<footer class="page-footer font-small #da9970">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: black;">© 2020 Copyright:
        <a href="https://mdbootstrap.com/" style="color: black;"> asisiphodaraza.com</a>
    </div>
    <!-- Copyright -->

</footer>